
html,body{
	min-height:100%;
	background-image: linear-gradient(to bottom, #051937, #00405c, #00686d, #3d8f6b, #99b067);
}


.navbar-brand img{

	max-height: 50px;
}

#navbarSupportedContent {
	margin-right: 50px !important;
}

h1{
	font-family: 'Merienda', cursive;
	margin: 10px 0 0 50px;
	font-size: 2em;
	color: #EFEFEE;
}


h2,  div.row1 p,h3{
	text-align: center;
	color: #e7eaf6;
}

h2{
	margin: 50px 0 0 0;
	font-size: 3em;
}

h3{
	margin: 80px 0 30px 0;
}


/*
.navbar-light .navbar-brand {

	color: #EFEFEE;
	font-size: 0.8em;
	margin-left: 15px;

}
*/
.navbar-light .navbar-nav .nav-link {
    color: #EFEFEE;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #EFEFEE;
	border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #EFEFEE !important;
}

header .row {
	min-height: 50vh;
}


.row1
{
	margin: 50px 0 0 0;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
}



.col-md-12{
	padding: 0 20%;

}

.search{
	text-align: right;
	margin: 30px 0 0 0;
}




.btn{
	  position: relative;
	  z-index: 1;
	  width: 80px;
	  height: 80px;
	  color: #1a1a1a;
/*	  background: #ed1c5b;*/
	  background-color: grey;
	  border-radius: 50%;
	  border: 3px solid black;
	  font-size: 2em;
	}

	.btn:before{
		content:"x";
		font-weight:900;
	}

	.btn:hover:before{
		content: "✔";
	}

	.btn:hover{
		border: 2px solid black;
	}

.textecho{
  color: white;
}

.error h1{
  font-size: 1.5em !important;
  color: red !important;
  text-align: center;
  margin: 200px 0 50px 0;
}
	